h1 {
  color: black;
  background-color: darkgray;
}

body {
  background-color: darkgrey;
}

div {
  /* display: inline-block; */
  float: left;
  height: 100px;
  width: 100px;
  border: black thin solid;
  /* margin: 10px; */
}

